<!-- <form class="" action="/userhome" method="get">
  <button type="submit" class="hvr-pulse">Home</button>
</form> -->
<h3 class='motherlist-title'>The Mother List</h3>
<!-- <h3 class="nextSnack">Next Snack From {{nextSnack}}</h3> -->
<!-- {{#each users}}
    <h4><a href='/username'>{{ username }}</a></h4> -->
    <!-- <div class="mom-container">
      <div class="user-fav-snack">
        <h4>{{ username }}</h4>
        <p>
          {{username}}'s children enjoy {{favSnackType}}
        </p>
      </div>
      <div class="snacks">
        <p>
          {{ username }}'s snacks from the past:
        </p>
        {{#each snacks}}
          <p>  {{name}}  </p>
        {{/each}}
      </div>
    </div>
{{/each}} -->

<!-- STICKY NOTES -->
{{#each users}}
<ul class="sticky">
  <li>
    <a href="#">
      <h3>{{username}}</h3>
      {{#each snacks}}
      <p>{{name}}</p>
      {{/each}}
    </a>
  </li>
</ul>
{{/each}}

<!-- <div>
  <header>
    <button>«</button>
    <h2>July 2013</h2>
    <button>»</button>
  </header>
<table>
  <tr>
    <td>S</td>
    <td>M</td>
    <td>T</td>
    <td>W</td>
    <td>Th</td>
    <td>F</td>
    <td>S</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
  </tr>
  <tr>
    <td>13</td>
    <td>14</td>
    <td>15</td>
    <td>16</td>
    <td class="selected">17</td>
    <td>18</td>
    <td>19</td>
  </tr>
  <tr>
    <td>20</td>
    <td>21</td>
    <td>22</td>
    <td>23</td>
    <td>24</td>
    <td>25</td>
    <td>26</td>
  </tr>
  <tr>
    <td>27</td>
    <td>28</td>
    <td>29</td>
    <td>30</td>
    <td>31</td>
    <td></td>
    <td></td>
  </tr>
</table>
</div> -->
<!-- <script language="JavaScript"><!
function popup (name,width,height) {
     var options = "toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=0,resizable=0,width="+width+",height="+height;
     Cal2=window.open(name,"popup",options);
}
//-->
<!-- </script>
</head>
<body>
<center><h1>A Pop-up Calendar</h1></center>
<p>This is a very nice calendar that shows all dates
 between 1900 and 2100.</p>
<p><a href="JavaScript:popup('calendar3.htm',350,270)">View the calendar</a></p> -->
