<!-- <form class="" action="/userhome" method="get">
  <button type="submit" class="hvr-pulse">Home</button>
</form> -->
<h3 class='motherlist-title'>The Mother List</h3>
<!-- {{#each users}}
    <h4><a href='/username'>{{ username }}</a></h4> -->
    <!-- <div class="mom-container">
      <div class="user-fav-snack">
        <h4>{{ username }}</h4>
        <p>
          {{username}}'s children enjoy {{favSnackType}}
        </p>
      </div>
      <div class="snacks">
        <p>
          {{ username }}'s snacks from the past:
        </p>
        {{#each snacks}}
          <p>  {{name}}  </p>
        {{/each}}
      </div>
    </div>
{{/each}} -->

<!-- STICKY NOTES -->
{{#each users}}
<ul>
  <li>
    <a href="#">
      <h3>{{username}}</h3>
      {{#each snacks}}
      <p>{{name}}</p>
      {{/each}}
    </a>
  </li>
  <li>
</ul>
{{/each}}
