<form action="/motherlist" method="get">
   <button type="submit" class="hvr-pulse">Mother List</button>
</form>
<br>
<!-- <a href="/motherlist">Mother List</a> -->
<h3 id="user-welcome">Welcome back, {{user.username}}</h3>
<a href="/{{user._id}}/edit">Sick of your password?</a>
<h3>Your Snacks:</h3>
<ul class="user-snacks">
  {{#each user.snacks}}
    <li>
      {{name}}
      <form method="post" action="/users/{{../user._id}}/snacks/{{_id}}?_method=delete" >
        <button type="submit" name="button" class="hvr-pulse">Eaten</button>
      </form>
    </li>
  {{/each}}
</ul>
<br>
<br>
<br>
<form action="/newSnack/{{user._id}}" method="post">
  <input type="text" name="name" placeholder="Snack Name">
  <button type="submit" class="hvr-pulse">Add Snack</button>
</form>
